<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="dropdown">
  <button class="dropbtn">Film</button>
<div class="dropdown-content">
<a href>
<app-Films></app-Films></a>
</div>
</div>

<div class="dropdown">
    <button class="dropbtn">People</button>
  <div class="dropdown-content">
  <a href>
  <app-People></app-People></a>
  </div>
  </div>

  
<div class="dropdown">
    <button class="dropbtn">Starship</button>
  <div class="dropdown-content">
  <a href>
  <app-Starship></app-Starship></a>
  </div>
  </div>
